/* home.css */

body {
  background-color: #F6FCFF;
  background-image: url("../images/main_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.character {
  width: 100%; /* 화면이 줄어들어도 이미지가 잘리지 않고 크기가 비율에 맞기 바뀌는 것을 볼 수 있음 */
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}